html {
  background-color: #25201a;
  font-family: "Pontano Sans";
  color: #fff;
}

nav {
  box-sizing: border-box;
  display: flex;

  width: auto;
  margin: 40px 140px;

  z-index: 2;
  position: relative;
}

.background {
  background-color: #25201a;
}

.nav-right {
  flex-grow: 1;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  gap: 40px;
}

.nav-links a,
h3 {
  text-decoration: none;
  font-size: 16px;
  color: #e7c8bf;
  font-weight: 400;
}

.home-main {
  padding: 40px 140px;
}

#hi-im-anna {
  color: #fbf8ec;
  font-family: "Lora", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px; /* 130% */

  margin-bottom: 0px;
}

#special-a {
  font-family: "Pinyon Script", cursive;
  font-size: 75px;
}

.full-introduction {
  z-index: 2;
  position: relative;

  margin-top: 15vh;
}

#introduction {
  color: #fbf8ec;

  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 40px;

  line-height: 130%;
  margin-top: 15px;
  font-style: normal;

  z-index: 1;
  position: relative;
}

#product-designer {
  color: #ff81a0;
}

.columns {
  display: flex;
  margin-top: 120px;
  gap: 220px;
}

.activity-element {
  display: flex;
  justify-content: start;
  width: 30%;
  align-items: flex-start;
}

.flower-text {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}

.flower {
}

.italic-text {
  font-family: "Lora", serif;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  line-height: 30px;

  margin: 0;
  margin-left: 12px;

  color: #eeeeee;
}

.subtext {
  color: #c7c7c7;
  font-family: "Pontano Sans";
  font-weight: 400;
  font-size: 16px;

  margin-top: 12px;
  margin-left: 41px;
}

.all-projects {
  margin-top: 4%;
  margin-bottom: 4%;
  gap: 100px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.scroll-down {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.project {
  margin-top: 8%;
  flex-wrap: wrap;

  /* box-sizing: border-box; */
  display: flex;
  justify-content: start;
  gap: 109px;
}

.project a {
  text-decoration: none;
  color: #fff;
}

.project p {
  font-size: 16px;
  margin: 0px;
  line-height: 24px;
}

.title {
  font-family: "Lora", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  color: #fbf8ec;
  margin: 0px;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tags p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;

  padding: 4px 8px;
  border-radius: 20px;
  border: 1px solid #9b9b9b;
  background: #25201a;
}

.project-description {
  display: flex;
  width: 393px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.take-a-look {
  display: flex;
  gap: 16px;
  align-items: center;

  color: #f7bea9;
}

.take-a-look p {
  font-size: 16px;
}

.intro-background {
  /* background: linear-gradient(130deg, rgb(7, 51, 58) 0%, rgb(54, 4, 30) 100%); */
  background-image: url("../../../public/images/homepage/background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.link {
  text-decoration: none;
  color: #fff;
}
