html p {
    font-family: 'Pontano Sans';
}
.intro-background-color {
    background-color: #25201a;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.proj-introduction-content {
    z-index: 1;
}

.project-container {
    background-color: #FFF9F9;
}


.proj-introduction {
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.project-title {
    font-family: 'Lora';
    font-size: 40px;
    font-weight: 500;
    color:#FBF8EC;
    max-width: 500px;

    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    margin-top: 4%;
}

.project-subtext {
    font-size: 18px;
    color: #F8F8F8;
    font-family: "Alegreya Sans SC";
    margin-bottom: 5%;

    display: flex;
    justify-content: center;
}

.content {
    margin-left: 12%;
    margin-right: 12%;

}

.two-column {
    display: flex;
    justify-content: start;

    margin-top: 4%;
    gap: 83px;
}

.overview {
    gap: 83px;
    width: 80%;

    flex-grow: 1;
    
}

.role-overview {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.text-header {
    font-family: 'Lora';
    font-size: 18px;
    flex-grow: 1;

    color: #DC4B4B;
    font-weight: 600;
    
    margin-top: 0;
}

.text-med-header {
    font-size: 18px;
    font-family: 'Pontano Sans';

    color: #000;
    font-weight: 900;

    margin-top: 0;
    margin-bottom: 9px;
}

.body-text {
    color:#000;
    font-size: 16px;
    font-weight: 400;

    line-height: 160%;
    margin-top: 0;
}

.section-header {
    background-color: #DC4B4B;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 3%;

    color: #fff;
    font-family: 'Lora';
    font-size: 24px;
    font-weight: 600;
}

.proj-main {
    padding: 40px 140px;
}

.three-column {
    display: flex;
    justify-content: space-between;
}

.column {
    max-width: 240px;
}