.introduction {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 16%;
    margin-right: 16%;
}

.project-title {
    font-family: 'Lora';
    font-size: 45px;
    font-weight: 500;
    color: #fff;

    display: flex;
    text-align: start;
}

.project-subtext {
    font-size: 20px;
    color: #F8F8F8;
}